<div class="row hp-content">
    <div class="col-sm-6">
        <a class="btn btn-primary btn-xlg" href="{{ pages.Kancelaria.permalink }}" role="button">
            <h2>Kancelaria</h2>
            <small>{{ pages.Kancelaria.post_excerpt }}</small>
            <i class="fa fa-chevron-right pull-right"></i>

        </a>
        <a class="btn btn-primary btn-xlg" href="{{ pages.Specjalizacje.permalink }}" role="button">
            <h2>Specjalizacje</h2>
            <small>{{ pages.Specjalizacje.post_excerpt  }}</small>
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
        <a class="btn btn-primary btn-xlg" href="#" role="button" data-toggle="modal" data-target="#myModal">
            <h2><strong>Porady on-line</strong></h2>
            <small><strong>Uzyskaj pomoc już teraz</strong></small>
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
        <a class="btn btn-primary btn-xlg" href="{{ pages.Szkolenia.permalink }}" role="button">
            <h2>Szkolenia</h2>
            <small>{{ pages.Szkolenia.post_excerpt }}</small>
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-primary btn-xlg" href="{{ pages.Misja.permalink }}" role="button">
            <h2>Misja</h2>
            <small>{{ pages.Misja.post_excerpt }}</small>
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
        <a class="btn btn-primary btn-xlg" href="{{ pages.Zespół.permalink }}" role="button">
            <h2>Zespół</h2>
            <small>{{ pages.Zespół.post_excerpt }}</small>
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
        <a class="btn btn-primary btn-xlg" href="{{ pages.Kariera.permalink }}" role="button">
            <h2>Kariera</h2>
            <small>{{ pages.Kariera.post_excerpt }}</small>
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
        <a class="btn btn-primary btn-xlg" href="{{ pages.Kontakt.permalink }}" role="button">
            <h2>Lokalizacja</h2>
            <small>{{ pages.Kontakt.post_excerpt }}</small>
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
    </div>
</div>