<div class="row hp-content">
    <div class="col-sm-6">
        <a class="btn btn-primary btn-xlg h_relative" href="{{ pages.Misja.permalink }}" role="button">
            <h2>Misja</h2>
            <small>{{ pages.Misja.post_excerpt }}</small>
            <div class="chevron-wrapper">
                <i class="fa fa-chevron-right "></i>
            </div>
        </a>
        <a class="btn btn-primary btn-xlg h_relative" href="{{ pages.Specjalizacje.permalink }}" role="button">
            <h2>Specjalizacje</h2>
            <small>{{ pages.Specjalizacje.post_excerpt  }}</small>
            <div class="chevron-wrapper">
                <i class="fa fa-chevron-right "></i>
            </div>
        </a>
        <a class="btn btn-primary btn-xlg h_relative" href="{{ pages.Szkolenia.permalink }}" role="button">
            <h2>Szkolenia</h2>
            <small>{{ pages.Szkolenia.post_excerpt }}</small>
            <div class="chevron-wrapper">
                <i class="fa fa-chevron-right "></i>
            </div>
        </a>
        <a class="btn btn-primary btn-xlg h_relative" href="{{ pages.Kontakt.permalink }}" role="button">
            <h2>Lokalizacja</h2>
            <small>{{ pages.Kontakt.post_excerpt }}</small>
            <div class="chevron-wrapper">
                <i class="fa fa-chevron-right "></i>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-primary btn-xlg h_relative" href="{{ pages.Kancelaria.permalink }}" role="button">
            <h2>Kancelaria</h2>
            <small>{{ pages.Kancelaria.post_excerpt }}</small>
            <div class="chevron-wrapper">
                <i class="fa fa-chevron-right "></i>
            </div>
        </a>
        <a class="btn btn-primary btn-xlg h_relative" href="{{ pages.Zespół.permalink }}" role="button">
            <h2>Zespół</h2>
            <small>{{ pages.Zespół.post_excerpt }}</small>
            <div class="chevron-wrapper">
                <i class="fa fa-chevron-right "></i>
            </div>
        </a>

        <a class="btn btn-primary btn-xlg h_relative" href="{{ pages.Kariera.permalink }}" role="button">
            <h2>Kariera</h2>
            <small>{{ pages.Kariera.post_excerpt }}</small>
            <div class="chevron-wrapper">
                <i class="fa fa-chevron-right "></i>
            </div>
        </a>
        <a class="btn btn-primary btn-xlg h_relative" href="#" role="button" data-toggle="modal" data-target="#termsModal">
            <h2><strong>Porady on-line</strong></h2>
            <small><strong>Uzyskaj pomoc już teraz</strong></small>
            <div class="chevron-wrapper">
                <i class="fa fa-chevron-right "></i>
            </div>
        </a>
    </div>
</div>